In [ ]:
print("hello mm")

hello world

In [ ]:
# Day 3
#creating s simple list
l=[10,20.3,"Ntt",3+4j]
print (l)
print(type(l))
print (l[-2])

[10, 20.3, 'Ntt', (3+4j)]
<class 'list'>
Ntt

In [ ]:
l={10:"Arjith",20:"Muni",30:"Rovbert"}
print (type(l))

<class 'dict'>

In [ ]:
l={100:"Arjith",20:"Muni",333:"Robert"}
print (l[333])

Robert

In [ ]:
s = {12,13,14,14,"Hello","Hello"}

print(s[0])

TypeError: 'set' object is not subscriptable

In [ ]:
s = {12, 13, 14, 14, "Hello", "Hello"}

for element in s:
    print(element)

12
13
14
Hello

In [ ]:
s = {12, 13, 14, "Hello", "hello"}

s_list = list(s)
print(s_list[4])  # Access the first element of the list

14

In [ ]:
#isinstance
a=10
print (isinstance(a,int))

True

In [ ]:
#variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
name: str = "NTT"
print(name)
print(type(name))
print(__annotations__['name'])

In [ ]:
name: int = 10
print(name)
print(__annotations__['name'])

10
<class 'int'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>

NameError: name '__annotations__' is not defined

In [ ]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
#tuple - unable to chnage the content at run time t = (1,2,3..) , but list we can change it L = [1,2,3,4,...]

In [ ]:
#dictionary  d = {a:1, b:2, c:3} - a, b, c are index and 1 2 3 are value

In [ ]:
print(18//4)

4

In [ ]:
print(18%4)

2

In [ ]:
print((18.0//4))

4.0

In [ ]:
print("""  working on multiline
  sample """)

  working on multiline
  sample

In [ ]:
#1-1 = 0 , 2-1 = 1, 3-1 = 2 (last param)
Name = "Hello world"
print(Name[0])
print(Name[-8])

print(Name[0:6:3])

H
l
Hl

In [ ]:
#slicing (its like substring)
Name = "Bangalore"


print(Name[ :5:1])
print(Name[2: :1])
print(Name[0:6: ])
print(Name[ : : ])
print(Name[2:7:1])

# s[Start:Stop:Step]
# if not given for start it will consider as 0, 2 paramater will take as entire , if 3rd is emty it will take 0

Banga
ngalore
Bangal
Bangalore
ngalo

Dictionary 04/25/2025

In [ ]:
# Dictionary Creatation
d1 = { (1,2):[1,2,3],(1,2):[1,2,3]}
print(d1)
d2 = { (1,2):[1,2,3],(2,1):[1,2,3]}
print(d2)
print(d2[(2,1)])
d3 = { 1:2, 1:3}
print(d3)

{(1, 2): [1, 2, 3]}
{(1, 2): [1, 2, 3], (2, 1): [1, 2, 3]}
[1, 2, 3]
{1: 3}

In [ ]:
# define function
def fun_res(n1,n2):
  result = n1+n2
  return result

ans = fun_res(2,3)
print(ans)

5

In [ ]:
# Mini Project
def create_student_database():
  # create a empty dict
  database = {}
  return database
def add_student(database):
  # Add a New student
  usn = input("enter the student usn no")
  if usn in database:
    print("Student already exists in the database")
  else:
    name = input("enter the student name")
    major = input("enter the student major")
    database[usn] = {'Name':name,'Major':major} # Key value pair added to dictionary
    print("Student added successfully")
    return database

def Find_Student_info(database):
  # Retrive information of the student
  student_Id = input("enter the student USN no")
  student_info = database.get(student_Id)

  if student_info:
    print("Student Information:")
    print("Name:", student_info['Name'])
    print("Major:", student_info['Major'])
  else:
    print("Student not found in the database.")

def display_database(database):
  #print the contenet of the database
  if database:
    print("Student Database:")
    for usn, student_info in database.items():
      print("USN:", usn)
      print("Name:", student_info['Name'])
      print("Major:", student_info['Major'])
      print()
    else:
      print("Database is empty")

def Remove_student(database):
    #Remove the student from the DB
    student_id = input("Enter the student USN no to remove:")
    if student_id in database:
      del database[student_id]
      print("Student removed successfully")
    else:
      print("Student not found in the database")

# Main Program Loop
student_database = create_student_database ()

while True:
  print("Student Database Management System")
  print("1. Add Student")
  print("2. Find Student Information")
  print("3. Display Database")
  print("4. Delete student")
  print("4. Exit")
  choice = input("Enter your choice (1/2/3/4/5):")
  if choice == '1':
    add_student(student_database)
  elif choice == '2':
    Find_Student_info(student_database)
  elif choice == '3':
    display_database(student_database)
  elif choice == '4':
    Remove_student(student_database)
  elif choice == '5':
    print("Exiting the program. Goodbye!")
    break
  else:
    print("Invalid choice. Please select a valid option (1/2/3/4/5).")

Student Database Management System
1. Add Student
2. Find Student Information
3. Display Database
4. Delete student
4. Exit
Enter your choice (1/2/3/4/5):1
enter the student usn no100
enter the student nameram
enter the student majorECE
Student added successfully
Student Database Management System
1. Add Student
2. Find Student Information
3. Display Database
4. Delete student
4. Exit
Enter your choice (1/2/3/4/5):1
enter the student usn no100
Student already exists in the database
Student Database Management System
1. Add Student
2. Find Student Information
3. Display Database
4. Delete student
4. Exit

In [2]:
def test1():
  l1 = [10, 20, 30,40]
  t1 = ( 60,70,80)
  return l1, t1

u,w = test1()
print(u,w)
print(u)
print(w)
print(type(u))
print(type(w))

[10, 20, 30, 40] (60, 70, 80)
[10, 20, 30, 40]
(60, 70, 80)
<class 'list'>
<class 'tuple'>

In [3]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40