In [ ]:
print("hello world")

hello world

In [ ]:
some_string = "Python"
a, b, c, d = some_string

ValueError: too many values to unpack (expected 4)

In [ ]:
for L in ['H','e']:
  print(L)

H
e

In [ ]:
for L in "Hello":
  print(L)

H
e
l
l
o

In [ ]:
#tuble
dogs = ('pug','husky','golden')
for dog in dogs:
  print(dog)

pug
husky
golden

In [ ]:
# tuble of tuble
dogs = (('pug','brown'),('husky','black'),('golden','yellow'))
for i,(dog,color) in enumerate(dogs):
  #print(i,dog,color)
  print("The dog at index %d is a %s and its colour %s s" %(i,dog,color))

The dog at index 0 is a pug and its colour brown s
The dog at index 1 is a husky and its colour black s
The dog at index 2 is a golden and its colour yellow s

In [ ]:
#mixed list
mixed_list = [145,146,1+3j,True,"phyton",(1,-5),[0,1],{"Class:A","Class:B"}]
for i in mixed_list:
  print(i,"Is",type(i))

145 Is <class 'int'>
146 Is <class 'int'>
(1+3j) Is <class 'complex'>
True Is <class 'bool'>
phyton Is <class 'str'>
(1, -5) Is <class 'tuple'>
[0, 1] Is <class 'list'>
{'Class:A', 'Class:B'} Is <class 'set'>

In [ ]:
for Country in 'Germany','India':
  print(Country)

Germany
India

In [ ]:
#for with else
number = [2,3,4]
for num in number:
  print(num)
else:
  print("No items left")

2
3
4
No items left

In [ ]:
#set unordered
characters = {'a','b','c','d','e'}
for char in characters:
  print(char)

c
b
d
e
a

In [ ]:
# even numbers
numbers = [11,12,13,14,15,16]
for num in numbers:
  if num%2==0:
    print("even number ",num)
  else:
    print("odd number",num)

odd number 11
even number  12
odd number 13
even number  14
odd number 15
even number  16

In [ ]:
#leap year
years = [2016,2017,2018]
for year in years:
  if year%4==0:
    print(year,"is a leap year")
  else:
    print(year,"is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year

In [ ]:
#nested for loop
name = [['a','b','c'],
        ['a','b','c']]
for i in name:
  for j in i :
    print(j)

a
b
c
a
b
c

In [ ]:
#range function and assign to tuble set dict
myrange = range(5)
tuple(myrange)

list(myrange)
set(myrange)
#dict(myrange)

{0, 1, 2, 3, 4}

In [ ]:
for _ in range(10):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
#reversed
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

In [ ]:
#reversed function in string
for i in  reversed("Hello"):
  print(i)

o
l
l
e
H

In [ ]:
#cube of the list
original_list = [1,2,3,4,5,6]
cublist= []
for i in original_list:
  cublist.append(i**3)
print(cublist)

[1, 8, 27, 64, 125, 216]

In [ ]:
#nested list
original_list = [[1,2,3],[4,5,6]]
flat_list = []
for sublist in original_list:
  for num in sublist:
    flat_list.append(num)
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#leap year in 21th centure using range function
Leap_year_range = range(2000,2100,4)
print(Leap_year_range)
leap_year_list = list(Leap_year_range)

print(leap_year_list)

range(2000, 2100, 4)
[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]

In [ ]:
#Nested Dict
fruits_Qty_Consume = {
    'Banana':{'Fri':30,'Sat':80,'Sun':95},
    'Apple':{'Fri':40,'Sat':50,'Sun':65},
}
fruits_Qty_Consume['Apple']['Sat']

50

In [ ]:
fruits_Qty_Consume.popitem()
fruits_Qty_Consume

{}

In [ ]:

names_ages = [['John', 35], ['Jill', 38], ['Tim', 27]]
to_dict(names_ages)

NameError: name 'to_dict' is not defined

In [1]:
def a_more_completed_Function():
  for i in range(6):
    print(i)

a_more_completed_Function()

0
1
2
3
4
5

In [2]:
a_more_completed_Function()

0
1
2
3
4
5