In [ ]:
print("hello world")

hello world

In [1]:
for L in ['H','e']:
  print(L)

H
e

In [2]:
for L in "Hello":
  print(L)

H
e
l
l
o

In [4]:
#tuble
dogs = ('pug','husky','golden')
for dog in dogs:
  print(dog)

pug
husky
golden

In [9]:
# tuble of tuble
dogs = (('pug','brown'),('husky','black'),('golden','yellow'))
for i,(dog,color) in enumerate(dogs):
  #print(i,dog,color)
  print("The dog at index %d is a %s and its colour %s s" %(i,dog,color))

The dog at index 0 is a pug and its colour brown s
The dog at index 1 is a husky and its colour black s
The dog at index 2 is a golden and its colour yellow s

In [11]:
#mixed list
mixed_list = [145,146,1+3j,True,"phyton",(1,-5),[0,1],{"Class:A","Class:B"}]
for i in mixed_list:
  print(i,"Is",type(i))

145 Is <class 'int'>
146 Is <class 'int'>
(1+3j) Is <class 'complex'>
True Is <class 'bool'>
phyton Is <class 'str'>
(1, -5) Is <class 'tuple'>
[0, 1] Is <class 'list'>
{'Class:A', 'Class:B'} Is <class 'set'>

In [3]:
for Country in 'Germany','India':
  print(Country)

Germany
India

In [13]:
#for with else
number = [2,3,4]
for num in number:
  print(num)
else:
  print("No items left")

2
3
4
No items left

In [14]:
#set unordered
characters = {'a','b','c','d','e'}
for char in characters:
  print(char)

c
b
d
e
a

In [15]:
# even numbers
numbers = [11,12,13,14,15,16]
for num in numbers:
  if num%2==0:
    print("even number ",num)
  else:
    print("odd number",num)

odd number
even number  12
odd number
even number  14
odd number
even number  16